.root {
	background: #2a2c2f;
	font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
}

.page {
	max-width: 1280px;
	margin: auto;
}

.header {
	display: flex;
	justify-content: space-between;
	padding: 28px 48px 0 ;
}

.header__logo {
	width: 176px;
	height: 52px;
}

.header__page-lang {
	display: flex;
	margin: 18px 0 0;
	list-style: none;
}

.header__lang-link {
	margin-left: 18px;
	text-decoration: none;
	color: #FFFFFF;
  font-size: 24px;
  line-height: 28px;
  font-weight: normal;
  transition: opacity 0.25s;
}

.header__lang-link:hover{
  opacity: 0.8;
}

.header__lang-link_active {
  text-decoration: underline;
}



