.header__logo {
	display: flex;
  max-width: 177px;
  transition: opacity 0.2s ease;
}

.header__logo:hover {
  opacity: 0.8;
}

@media screen and (max-width: 425px) {
  .header__logo {
    width: 142px;
  }
}



