.lead__image {
	display: block;
  margin-top: 64px;
  max-width: 100%;
  width: 100%;

}

@media (max-width: 1024px) {
  .lead__image {
    margin-top: 56px;
  }
}

}
@media (max-width: 320px) {
  .lead__image {
    margin-top: 40px;
  
  }
}