.cover__overlay {
	position: relative;
	min-height: 740px;
	background-image: url('../../../images/cover/cover__bg.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
	object-fit: contain;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: #FFFDFD;
	text-decoration: none;
	z-index: 1;
}

.cover__overlay::before {
  content: "";
  position: absolute;
  background: #2A2C2F;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.3;
  transition: opacity 0.2s;
  z-index: -1;
}

.cover__overlay:hover::before {
  opacity: 0.8;
}

@media screen and (max-width:1024px){
  .cover__overlay{
    min-height: 640px;
  }
}
@media screen and (max-width:768px){
  .cover__overlay{
    min-height: 480px;
  }
}

@media screen and (max-width:618px){
  .cover__overlay{
    min-height: 200px;
  }
}