.footer__links-list {
	display: flex;
	list-style: none;
	justify-content: space-between;
	margin: 0;
	padding: 0;
}

@media screen and (max-width: 618px) {
  .footer__links-list {
    flex-direction: column;
  }
}